
body{
  color: rgb(68,68,68);
  font-family: Helvetica;
  margin: 0px;
  }
  .page{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;

}
.page_content{
  width: 960px;
  min-width: 300px;
  margin: 0px;
  z-index: 0;
  box-shadow: rgba(65, 70, 77, 0.498039) 0px 0px 5px 0px;
}
header{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 940px;
  padding: 10px 20px;

}
nav a hover:{
  color: #444;
}
.nav-1-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 9.5px;
  letter-spacing: .4px;
  line-height: 32px;
}
.nav-1-header a{
  text-decoration: none;
  color: rgb(68,68,68);
  padding: 0 5px;
}
.nav-1-header a:hover{
  color: #444;
}
.nav-2-header{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 5px;
}
#search{
  height: 30px;
  width: 120px;
  font-size: 16px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px 0 0 4px;
  padding-left: 10px;
}
.suchfeld{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fa-search{
  color:  rgb(68, 68, 68);
  font-size: 1rem;
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
  border-radius: 0 4px 4px 0;
}

.nav-3-header{
  border-bottom: 1px solid rgb(221, 221, 221);
  letter-spacing: 0.8px;
  color: rgb(0, 0, 0);
  margin-top: 15px;
  font-size: 12px;
}
.nav-3-link{
  line-height: 36px;
  text-align: center;
  box-sizing: border-box;
}
.nav-3-link a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 13.5px;
  font-weight: 400;
  padding: 0 5px 8px 5px;
}
.menu-drop-1{
  display: none;
}
.menu-drop-2{
  display: none;
}
#menu-drop{
  position: relative;
  margin-right: 8px;
}
#menu-drop:after{
  content: "▾";
  display: inline;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -12.5px;
}
#menu-drop:hover:after{
  transform: rotateZ(180deg);
  transition: 0.5s;
  opacity: .6;
}
#menu-drop:hover{
  position: relative;
}
#menu-drop:hover .menu-drop-1{
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  left: -30px;
  top: 13px;
  min-width: 11rem;
  text-align: left;
  padding: 0px;
}
#menu-drop:hover .menu-drop-2{
  display: block;
  position: absolute;
  border: 1px solid #ddd;
  left: -30px;
  top: 13px;
  min-width: 13rem;
  text-align: left;
  padding: 0px;
  background-color: white;
}
#menu-drop:hover .menu-drop-1 li, .menu-drop-2 li{
  list-style-type: none;
  line-height: 36px;
  text-decoration: none;
  color: black;
}
#menu-drop:hover .menu-drop-1 li:hover, .menu-drop-2 li:hover{
font-size: 14px;
letter-spacing: 0.8px;
border: 1px solid #ddd;
background-color: #ddd;
}
#menu-drop:hover .menu-drop-1 li a:hover, .menu-drop-2 li a:hover{
  border-bottom: none;
}
#menu-drop:hover .nav-3-drop-down-has-label:before{
  content: "Anzeige";
  display: block;
  text-transform: uppercase;
  font-size: .5625rem;
  margin: .625rem 0 0 .325rem;
  line-height: 1;
  color: #999;
  padding: 0;
}
.nav-3-link a:hover{
  border-bottom: 3px solid lightgray;
}
.nav-3-btn{
  padding: 2px 8px 5px 8px;
  background-color: #444;
  border-radius: 3px;
  margin-left: 39px;
  opacity: 1;
  transition: opacity .25s ease-in-out;
}
.nav-3-btn:hover{
  opacity: 0.8;
}
.nav-3-btn a{
  text-decoration: none;
  color: #fff;
  font-size: 11.5px;
  letter-spacing: 0.8px;
}

.nav-4-header{
  width: 100%;
  margin: 12px 0 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(68, 68, 68);
  font-size: 11px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  line-height: 16px;
}
.nav-4-bold{
  margin-right: 11px;
  font-weight: bold;
}
.nav-4-list{
  text-decoration: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 3.3px;
  padding: 4px 8px 4px 8px;
}
.nav-4-header a{
  color: rgb(68, 68, 68);
}

.teaser-container{
  width: 980px;
  height: 420px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
  url('http://img.zeit.de/politik/ausland/2016-08/lgbt-homosexualitaet-wahlen-usa-praesidentschaft-2-2/cinema__980x420__desktop');
  z-index: -1;
}
.teaser-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 608px;
  top: 380px;
  color: white;
  padding-left: 36px;
}
.teaser-heading{
  display: flex;
  flex-direction: column;
  font-size: 32px;
}
h2 a{
  text-decoration: none;
  color: white;
}
.teaser-mini-title{
  font-size: 14px;
  margin-bottom: 5px;
}
#teaser-text{
  font-size: 16px;
  line-height: 25px;
}
.teaser-metadata{
  font-size: 14px;
  letter-spacing: 0.56px;
}
.kommentare{
  text-decoration: none;
  color: white;
}
.kommentare:after{
  border-bottom: solid 1px white;

}
.duo{
  width: 960px;
  height: 1900px;
  margin: 20px 0;
  padding: 0 10px;
  background-color: coral;
  display: flex;
  flex-direction: row;
}
.major{
  background-color: lightcoral;
  width: 620px;
  padding: 0 10px;
}
.minor{
  background-color: aqua;
  width: 300px;
  padding: 0 10px;
}
.teaser-small{
  background-color: white;
  width: 620px;
  padding: 20px 0;
}
.teaser-small-media{
  display: flex;
  height: 191px;
}
.teaser-small-img{
  width: 250px;
  height: 141px;
  background: url('http://img.zeit.de/politik/deutschland/2016-10/norbert-lammert-bundestag-kandidatur/wide');
}
